In [ ]:
import os
import numpy as np
import pandas as pd
from tqdm import tqdm

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
path = "/content/drive/MyDrive/"
os.chdir(path)

In [ ]:
if not os.path.exists("nature_12K.zip"):
    !wget https://storage.googleapis.com/wandb_datasets/nature_12K.zip
if not os.path.exists("inaturalist_12K/"):
    !unzip -q nature_12K.zip
    os.chdir(path + "inaturalist_12K/")
else:
    os.chdir(path + "inaturalist_12K/")
# os.chdir(path + "inaturalist_12K/")

In [ ]:
def rename(fnames):
    noof_data = len(fnames)
    for i in range(noof_data):
        os.rename(fnames[i], str(i)+".png")

if "val" in os.listdir():
    os.rename("val/", "test/")

test_data_path = "test/"
train_data_path = "train/"
classes = os.listdir(train_data_path)
if ".DS_Store" in classes:
    os.remove(".DS_Store")
    classes.remove(".DS_Store")

print("Classes:")
print(classes)

# Rename all training data file names
dist = {}
current_path = os.getcwd()
for i in tqdm(classes):
    class_path = train_data_path + i + "/"
    fnames = os.listdir(class_path)
    os.chdir(class_path)
    if ".DS_Store" in fnames:
        os.remove(".DS_Store")
        fnames.remove(".DS_Store")
    dist[i] = len(fnames)

    rename(fnames)
    os.chdir(current_path)

# Rename all testing data file names
dist_test = {}
current_path = os.getcwd()
for i in tqdm(classes):
    class_path = test_data_path + i + "/"
    fnames = os.listdir(class_path)
    os.chdir(class_path)
    if ".DS_Store" in fnames:
        os.remove(".DS_Store")
        fnames.remove(".DS_Store")
    dist_test[i] = len(fnames)

    rename(fnames)
    os.chdir(current_path)

  0%|          | 0/10 [00:00<?, ?it/s]

Classes:
['Plantae', 'Aves', 'Amphibia', 'Insecta', 'Animalia', 'Mollusca', 'Fungi', 'Arachnida', 'Reptilia', 'Mammalia']

100%|██████████| 10/10 [00:32<00:00,  3.27s/it]
100%|██████████| 10/10 [00:07<00:00,  1.41it/s]

In [ ]:
test_data_path = "test/"
train_data_path = "train/"
classes = os.listdir(train_data_path)
if ".DS_Store" in classes:
    print(classes)
    os.remove(train_data_path + ".DS_Store")
    classes.remove(".DS_Store")

dist = {}
current_path = os.getcwd()
for i in tqdm(classes):
    class_path = train_data_path + i + "/"
    fnames = os.listdir(class_path)
    dist[i] = len(fnames)
    os.chdir(current_path)

df = pd.DataFrame(dist, index=["Values"])
display(df)

dist = {}
current_path = os.getcwd()
for i in tqdm(classes):
    class_path = test_data_path + i + "/"
    fnames = os.listdir(class_path)
    dist[i] = len(fnames)
    os.chdir(current_path)

df = pd.DataFrame(dist, index=["Values"])
df

100%|██████████| 10/10 [00:00<00:00, 60.43it/s]

['Plantae', '.DS_Store', 'Aves', 'Amphibia', 'Insecta', 'Animalia', 'Mollusca', 'Fungi', 'Arachnida', 'Reptilia', 'Mammalia']

        Plantae  Aves  Amphibia  Insecta  ...  Fungi  Arachnida  Reptilia  Mammalia
Values     1000  1000      1000     1000  ...    999       1000      1000      1000

[1 rows x 10 columns]

100%|██████████| 10/10 [00:00<00:00, 165.71it/s]

        Plantae  Aves  Amphibia  Insecta  ...  Fungi  Arachnida  Reptilia  Mammalia
Values      200   200       200      200  ...    200        200       200       200

[1 rows x 10 columns]

In [ ]:
os.chdir(current_path)
os.chdir(train_data_path + "Fungi/")
file_names = os.listdir(os.getcwd())
for i in range(1000):
    if str(i)+".png" not in file_names:
        print(i)

os.chdir(current_path)

999